{% extends 'store\index.html' %}
{% load static %}

{% block content %}

<!-- Home Page  -->


     <div class="music__container">

        <h1 class="music__heading">LATEST RELEASE</h1>

        <h2 class="music__link"><a href="https://www.youtube.com/watch?v=DOqnOjhREF4&ab_channel=Dcclip">Youtube</a><a href = "https://open.spotify.com/track/5ecllQ45fqpSdNerIt4ZsZ?si=9f53aac4df8e4b05">Spotify</a></h2>

        <iframe class="yt" width="560" height="315" src="https://www.youtube.com/embed/DOqnOjhREF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


{% endblock content %}